<%# FIRST PART: THE FORM %>
<form method="post" action="/club">
  <div class="row">
    <h2>Add A Club</h2>
    <div class="form-group">
      <label for="clubName">Club Name:</label>
      <input type="text" class="form-control" name="name" id="name" placeholder="Club Name">
      </div>
    <div class="form-group">
      <label for="homekit">Home Kit Color:</label>
      <input type="text" class="form-control" name="homeKitColor" id="HomeKitColor" placeholder="Home Kit Color">
    </div>
    <div class="form-group">
      <label for="awaykit">Away Kit Color:</label>
      <input type="text" class="form-control" name="awayKitColor" id="AwayKitColor" placeholder="Away Kit Color">
    </div>
    <div class="form-group">
      <label for="thirdkit">Third Kit Color:</label>
      <input type="text" class="form-control" name="thirdKitColor" id="ThirdKitColor" placeholder="Third Kit Color">
    </div>
      <div class="form-group">
        <label for="teamBadge">Team Badge:</label>
        <input type="text" class="form-control" name="teamBadge" id="teamBadge" placeholder="https://scontent.xx.fbcdn.net/v/t1.0-1/p480x480/11074590_1619313454971634_2926966475907384431_n.jpg?oh=b10b6f2a303df8bffda7b1601eeddf58&oe=592A8854">
      </div>
      <div class="form-group">
        <label for="managerName">Manager's name:</label>
        <input type="text" class="form-control" name="managerName" id="managerName" placeholder="Jurgen Klopp">
      </div>
      <div class="form-group">
        <label for="managerEmail">Manager's email:</label>
        <input type="email" class="form-control" name="managerEmail" id="managerEmail" placeholder="a@bc.com">
      </div>
      <div class="form-group">
        <label for="managerMobile">Manager's mobile:</label>
        <input type="text" class="form-control" name="managerMobile" id="managerMobile" placeholder="Manager's mobile">
      </div>
    <div class="form-group ">
      <button type="submit" class="btn btn-default">Add a Club</button>
    </div>
  </div>
</form>
