<div class="container">
  <h1 class="page-header">Tournament</h1>

<ul class="list-group">
  <% tournaments.forEach(function (tournamentItem) { %>
    <li class="list-group-item">
      <strong>
      Tournament Name : <%= tournamentItem.name %></strong><br>
      <strong>
      Organizer : <%= tournamentItem.organizer %></strong><br>
      <a href=<%= "/tournament/" + tournamentItem._id %>>View</a>
    </li>
  <% }) %>
</ul>

</div>
