<div class="container">
  <h1 class="page-header">League</h1>

<ul class="list-group">
  <% leagues.forEach(function (leagueItem) { %>
    <li class="list-group-item">
      <strong>
      League Name : <%= leagueItem.name %></strong><br>
      <strong>
      Organizer : <%= leagueItem.organizer %></strong><br>
      <a href=<%= "/league/" + leagueItem._id %>>View</a>
    </li>
  <% }) %>
</ul>

</div>
