<%# FIRST PART: THE FORM %>
<form method="post" action="/tournament">
  <div class="row">
    <h2>Add A Tournament</h2>
    <div class="form-group">
      <label for="leagueName">Tournament Name:</label>
      <input type="text" class="form-control" name="name" id="name" placeholder="Tournament Name">
      </div>
    <div class="form-group">
      <label for="day">Tournament Venue:</label>
      <input type="text" class="form-control" name="venue" id="venue" placeholder="venue">
    </div>
    <div class="form-group">
      <label for="time">Tournament Time:</label>
      <input type="text" class="form-control" name="time" id="time" placeholder="time">
    </div>
    <div class="form-group">
      <label for="startDate">Tournament Date:</label>
      <input type="date" class="form-control" name="tournamentDate" id="tournamentDate">
    </div>
    <div class="form-group">
      <label for="endDate">Tournament Prize Money: $</label>
      <input type="text" class="form-control" name="prizeMoney" id="prizeMoney" placeholder="10000">
    </div>
    <div class="form-group">
      <label for="endDate">Max no. of Player allowed: </label>
      <input type="text" class="form-control" name="maxPlayers" id="maxPlayers" placeholder="8">
      <input type="hidden" class="form-control" name="organizerId" id="organizerId" value="<%= user.id %>">
    </div>
      <div class="form-group">
        <label for="game">Selected Tournament Game:</label>
        <% games.forEach(game => {%>
          <div class="radio">
          <label>
          <input type="radio" name="game" value="<%= game.id%>">
          <%=game.name%>
          </label>
          </div>
          <%})%>
      </div>
    <div class="form-group ">
      <button type="submit" class="btn btn-default">Add a Tournament</button>
    </div>
  </div>
</form>
