<div class="container">
  <h1 class="page-header">Clan List</h1>

<ul class="list-group">
  <% clan.forEach(function (clanItem) { %>
    <li class="list-group-item">
      <strong>
      <img src=<%= clanItem.teamBadge %> width=100><br>
      <%= clanItem.name %>: </strong><br>
      <a class="pull-right" href=<%= "/clan/" + clanItem._id %>>Join Clan</a>
      <a class="pull-right" href=<%= "/clan/" + clanItem._id %>>View</a>
    </li>
  <% }) %>
</ul>

</div>
